@font-face {
    font-family: 'JetBrains Mono';
    src: url(assets/fonts/jbm.ttf);
}

* {
    /* Color theme */
    background-color: #1f1f1f;
    color: white;

    font-family: 'JetBrains Mono', Tahoma, Arial;

    /* Wrap the body */
    max-width: 90%;

    /* Center the body */
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

p {
    text-align: justify;
    font-size: 1rem;
}

#footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

#footer > p {
    line-height: 0;
    text-align: center;
}
